// xie公用样式


// 全局
.dia-con-p{
  text-align: center;
}
.dia-con-p h4{
  font-size: 24px;
  color: #34414C;
  margin-top 10px;
}
.dia-con-p p{
  font-size: 14px;
  color: #7E8A95;
  margin-top 8px;
}
.dia-ul{
  list-style none;
  overflow: auto;
  width 430px;
  margin: 30px auto;
  max-height: 170px;
  padding: 0 20px;
}
.dia-ul li{
  float left
  width 50%;
  font-size: 14px;
  color: #7E8A95;
  line-height: 34px;
}
.dia-ul li:nth-child(n){
  text-align: right;
  padding: 0 10px 0 0 
}
.dia-ul li:nth-child(2n){
  text-align: left;
  padding: 0 0 0 10px
}
.dia-ul li.single{
  width 100% !important;
  text-align: center !important;
}



// 局部作用域
.xym{
  .x-container{
    margin: 0 40px;
  }
  .x-list{
    background: #FFFFFF;
    box-shadow: 0 8px 20px -12px rgba(66,114,255,0.30);
    border-radius: 8px;
  }
  .xlist-choose{
    padding: 20px 30px;
    border-bottom: 1px solid #D8DDDF;
    margin-top 30px;
  }
  .xlist-choose-content{
    float left;
  }
  .xcc-box{
    float left;
  }
  .xcc-splitLine{
    float left;
    background: #999999;
    height 14px;
    width 1px;
    margin: 9px 30px 0;
  }
  .xlist-choose-si{
    float right;
  }
  .xlist-operator{
    padding: 20px 30px;
  }
  .xop-btn-submit{
    float left
    background-image: linear-gradient(-137deg, #3596FF 0%, #3572FF 100%);
    box-shadow: 0 1px 6px 1px rgba(196,203,239,0.39);
    border-radius: 4px;
    min-width 120px;
    text-align: center;
    line-height 40px;
    height 40px;
    font-size: 14px;
    color: #FFFFFF;
    cursor pointer;
  }
  .x-list-block{
    height 8px;
    background-image: linear-gradient(#EAEDF9, #FFFFFF);
  }
  .xop-btn-delete{
    float right;
    line-height 40px;
    height 40px;
    padding-left 24px;
    background: url('assets/images/xym/delete.png') no-repeat left center;
    background-size: 20px;
    cursor pointer;
    color rgb(155,155,155);
    font-size: 14px;
  }

  .ll-table{
    padding 30px;
  }
  .llt-thead{
    background: rgb(243,246,255);
  }
  .llt-th{
    position relative;
    box-sizing border-box;
    float left;
    font-size: 14px;
    color: #34414C;
    line-height: 22px;
    height 54px;
    padding 16px 20px;
    overflow hidden;
    text-overflow ellipsis;
    white-space nowrap;
  }
  .llt-tbody .llt-tr{
    position relative;
    border-bottom: 1px solid #E8E8E8;
  }
  .llt-td{
    position relative;
    box-sizing border-box;
    float left;
    font-size: 14px;
    color: #34414C;
    line-height: 22px;
    height 54px;
    padding 16px 20px;
    overflow hidden;
    text-overflow ellipsis;
    white-space nowrap;
  }
  .llt-tr.offline .llt-td{
    color: #999999;
  }
  .llt-td-a{
    color #4272FF;
    cursor pointer;
  }
  .llt-td-line{
    vertical-align middle;
    font-style normal;
    color: #D8DDDF;
    display inline-block;
    margin: 0 2px;
    font-size 12px;
    margin-top -4px;
  }
  .list-page {
    position: relative;
    margin-top: 20px;
    text-align: right;
  }
  .list-no-data{
    color: #909399;
    font-size: 14px;
    line-height 60px;
    text-align: center;
  }
  .bread-nav{
    position: absolute;
    left: 155px
    top: 17px;
    z-index: 999;
    font-size: 20px;
  }
  .bread-nav span{
    color: #999;
    cursor pointer;
  }
  .bread-nav em{
    font-style: normal;
    color: #151515;
  }
  .digital-detail-tabTop{
    position relative;
    margin-top 30px;
  }
  .digital-detail-tab{
    float left;
  }
  .digital-detail-tab span{
    position relative;
    display block;
    float left;
    width 160px;
    line-height 56px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px 8px 0 0;
    cursor pointer;
    background: #fff;
  }
  .digital-detail-tab span.on{
    z-index 10 !important;
    color: #fff;
    background-image: linear-gradient(137deg, #3572FF 0%, #3596FF 100%) !important;
    box-shadow: 4px 0 4px 0 rgba(196,203,239,0.39);
  }
  .digital-detail-basic{
    background: #FFFFFF;
    box-shadow: 0 8px 20px -12px rgba(66,114,255,0.30);
    border-radius: 8px;
  }
  .xtitle-heading{
    position relative;
    border-bottom: 1px solid #E9E9E9;
  }
  .xtitle-heading-h{
    position relative;
  }
  .xtitle-heading-h-p{
    font-size: 22px;
    color: #2E2E2E;
    font-weight: bold;
    padding-left 30px;
    line-height 78px;
  }
  .xtitle-heading.white-color .xtitle-heading-h-p{
    color: #fff;
  }
  .xtitle-heading-h-line{
    position: absolute;
    left 0;
    top: 30px;
    background: #3F6AFF;
    width 7px;
    height 18px;
  }
  .xtitle-heading.white-color .xtitle-heading-h-line{
    background: #fff;    
  }
  .digital-detail-basic-content{
    padding: 10px 40px 40px;
  }
  .lar-box{
    box-sizing: border-box;
    float: left;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .lar-box-h4{
    box-sizing: border-box;
    float left;
    width 30%;
    padding-right: 30px;
    font-weight: normal;
    line-height: 32px;
    font-size: 12px;
    color: #999999;
    text-align: right;
    overflow hidden;
    text-overflow: ellipsis;
    white-space nowrap;
  }
  .lar-box-el-input,.show-pp{
    position relative;
    box-sizing: border-box;
    float left;
    width 70%;
  }
  .lar-box .el-form-item__error{
    left 30% !important;
  }
  .show-pp{
    font-size: 16px;
    color: #333333;
    line-height 32px;
    overflow hidden;
    text-overflow: ellipsis;
    white-space nowrap;
  }
  .map-box{
    margin-top: 30px;
  }
  #map-container{
    height: 460px;
  }


  /* 地图marker样式 */
  .point{
    position: relative;
    width: 48px;
    height: 48px;
    margin-left: -16px;
    margin-top: -24px;
  }
  .point-tip{
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -67px;
    width: 130px;
    height: 50px;
    background: rgba(52,65,76,0.90);
    border-radius: 4px;
    display: none;
  }
  .point-tip.point-tip-show{
    display: block;
  }
  .point-tri{
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -6px;
    width: 0; 
    height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: rgba(52,65,76,0.90) transparent transparent transparent;
  }
  .point-tip-p{
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 10px;
    white-space: normal;
    margin-top: -37px;
  }
  .point-light{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4272FF;
    opacity: 0.5;
    border-radius: 100%;
    animation: myScale 1.5s infinite forwards;
  }
  .point-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: #4272FF;
    border-radius: 100%;
  }
  @keyframes myScale{
    0% {opacity: 0.8;transform: scale(0.1);}
    100% {opacity: 0;transform: scale(1);}
  }
  /* 地图marker样式结束 */


  .digital-detail-checkArea{
    background: #FFFFFF;
    box-shadow: 0 8px 20px -12px rgba(66,114,255,0.30);
    border-radius: 8px;
    margin-top 20px;
  }
  .digital-detail-checkArea-content{
    padding: 0 30px 40px;
  }
  .dd-checkArea-box{
    position relative;
    box-sizing: border-box
    float left;
    margin-top 30px;
    width 18%;
    height 200px;
    margin-left 2%;
    border: 1px solid #D8DDDF;
    border-radius: 4px;
    padding: 0 30px;
  }
  .digital-detail-checkArea-content .dd-checkArea-box:nth-child(5n+1){
    margin-left: 0;
  }
  .dd-checkArea-box-close{
    position: absolute;
    top: -10px;
    right -10px;
    width 20px
    height 20px;
    background: url('assets/images/xym/close.png') no-repeat center center;
    background-size: 20px;
    z-index 10;
    cursor pointer;
  }
  .ddcarea-item{
    margin-top: 20px;
  }
  .ddcarea-item-label{
    font-size: 12px;
    line-height 24px;
    color: #999999;
  }
  .ddcarea-item-input{
    margin-top 10px;
  }
  .add-check-point{
    text-align: center;
    padding-top: 53px;
  }
  .add-check-point-img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url('assets/images/xym/add-check.png') no-repeat center center;
    background-size: 40px;
  }
  .add-check-point-p{
    font-size: 20px;
    color: #3572FF;
    margin-top 10px;
  }
  .xlist-btn-con{
    margin-top 30px;
  }
  .xlist-btn{
    box-sizing: border-box;
    width 160px;
    height 40px;
    line-height 40px;
    height 40px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor pointer;
  }
  .xlist-btn.xlist-btn-submit{
    background-image: linear-gradient(137deg, #3572FF 0%, #3596FF 100%);
    box-shadow: 0 0 4px 0 rgba(128,128,128,0.50);
    color: #fff;
  }
  .xlist-btn.xlist-btn-cancel{
    border: 1px solid #E4E4E4;
    color: #3572FF;
  }
  .la-result{
    padding-bottom: 30px;
  }
  .dia-clist{
    padding: 0 30px;
  }
  .dia-citem{
    margin-top 24px;
  }
  .dia-citem-label{
    line-height 28px;
    font-size: 12px;
    color: #3F3F3F;
  }
  .dia-citem-label span,.dia-citem-label-must{
    color #F56B25;
    display inline-block;
    margin-right: 3px;
  }
  .dia-btn-con{
    padding: 30px;
    margin-top: 10px;
  }
  .dia-btn-submit{
    display inline-block;
    width 140px;
    line-height 36px;
    height 36px;
    color #fff;
    font-size: 14px;
    text-align: center;
    cursor pointer;
    background-image: linear-gradient(137deg, #3572FF 0%, #3596FF 100%);
    box-shadow: 0 8px 20px -10px rgba(27,69,191,0.60);
    border-radius: 24px;
  }
  .dia-btn-cancel{
    display inline-block;
    width 50px;
    line-height 36px;
    height 36px;
    color: #3572FF;
    font-size: 14px;
    text-align: center;
    cursor pointer;
    margin-right: 20px;
  }
  .x-digital-detail{
    position relative;
    background: #FFFFFF;
    box-shadow: 0 5px 12px 0 rgba(196,203,239,0.39);
    border-radius: 8px;
    height 120px;
  }
  .xddetail-name{
    position: absolute;
    top: 0;
    left 0;
    width 190px;
    height 120px;
    line-height 120px;
    text-align: center;
  }
  .xddetail-name-p{
    display inline-block;
    width 100%;
    line-height 45px;
    font-size: 34px;
    color: #3572FF;
    vertical-align: middle;
    max-height: 90px;
    overflow hidden;
  }
  .xddetail-list{
    padding-left 220px;
    padding-top: 10px;
  }
  .xddetail-list-item{
    float left;
    margin-top 6px;
  }
  .xddetail-list-item-title{
    float left;
    width 100px;
    line-height 40px
    height 40px;
    color: #999999;
  }
  .xddetail-list-item-p{
    float left
    line-height 40px
    height 40px;
    font-size: 16px;
    color: #333333;
    padding-right: 100px;
    text-overflow: ellipsis;
    overflow hidden;
    white-space nowrap;
  }
  .digital-detail-tabTop-a{
    position: absolute;
    bottom: 16px;
    right 0;
  }
  .digital-detail-tabTop-anav{
    float left;
    font-size: 16px;
    color: #3572FF;
    cursor pointer;
  }
  .digital-detail-tabTop-anav-span{
    float left;
    font-size: 16px;
    color: #3572FF;
    padding: 0 24px;
  }

  .stat-head-box{
    float left;
    // width 310px;
    padding-right: 10px;
    margin-top 14px;
    margin-left 130px
  }
  .xddetail-list .stat-head-box:first-child{
    margin-left: 0;
  }
  .stat-head-box-icon{
    float left;
    width 64px;
    height 64px;
    margin-top 6px;
  }
  .stat-head-box-icon-hour{
    background: url('assets/images/xym/stat-hour-people.png') no-repeat center center;
    background-size: 64px;
  }
  .stat-head-box-icon-day{
    background: url('assets/images/xym/stat-day-people.png') no-repeat center center;
    background-size: 64px;
  }
  .stat-head-box-icon-area{
    background: url('assets/images/xym/stat-area.png') no-repeat center center;
    background-size: 64px;
  }
  .stat-head-box-info{
    float left;
    margin-left 20px;
    // width 190px;
    margin-top 5px;
  }
  .stat-head-box-info-h{
    font-size: 14px;
    color: #3572FF;
  }
  .stat-head-box-info-p{
    font-weight: bold;
    font-size: 40px;
    color: #3572FF;
    line-height 1;
    margin-top 3px;
  }
  .detection-content{
    margin-top 40px;
  }
  .detection-content-bg{
    position: absolute;
    top: 0;
    left 0;
    width 100%
    height 100%
    background: url('assets/images/xym/det-bg.png') no-repeat 540px 300px;
    background-size: 600px;
    z-index 1;
  }
  .detection-real{
    position relative;
    float left
    width 70%;
    height 720px;
    background-image: linear-gradient(137deg, #3572FF 0%, #3596FF 100%);
    box-shadow: 0 5px 12px 0 rgba(195,195,195,0.40);
    border-radius: 10px;
    height: calc(100vh - 260px);
    overflow: hidden;
  }
  .detection-real-content{
    padding: 0 30px;
    position relative;
    z-index 3;
    overflow: auto;
    margin-top -20px;
    height: calc(100vh - 350px);
  }
  .detreal-box{
    box-sizing: border-box;
    float left;
    width 31%;
    margin-left: 3.5%;
    margin-top 20px;
  }
  .detection-real-content .detreal-box:nth-child(3n+1){
    margin-left: 0;
  }
  .detreal-box-title{
    position relative;
    height 40px;
    line-height 40px;
  }
  .detreal-box-title-icon{
    position: absolute;
    left 0;
    top: 0;
    width 40px;
    height 40px;
    background: url('assets/images/xym/det-area.png') no-repeat left center;
    background-size: 20px;
  }
  .detreal-box-title-p{
    font-size: 20px;
    color: #FFFFFF;
    padding-left 40px;
    overflow hidden;
    text-overflow: ellipsis;
    white-space nowrap;
  }
  .detreal-box-data{
    box-sizing: border-box;
    padding: 20px;
    height 190px;
    background: rgba(241,245,249,0.10);
    box-shadow: 0 0 5px 2px rgba(41,61,125,0.09);
    border-radius: 10px;
    margin-top: 20px;
    cursor pointer;
  }
  .detreal-box-data.warn{
    background: #FF652C;
  }
  .detreal-box-data-people{
    float left;
    width 100%;
  }
  .drbd-people-flow{
    float left
    width 50%;
    margin-top 10px;
  }
  .drbd-people-flow-h{
    font-size: 14px;
    color: #FFFFFF;
  }
  .drbd-people-flow-p{
    font-size: 14px;
    color: #fff;
    margin-top 6px;
    padding-right: 5px;
    overflow hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .drbd-people-flow-p span{
    font-size: 32px;
    display inline-block;
    margin-right: 3px;
  }

  .detection-history{
    position relative;
    float right
    width 27%;
    // height 720px;
    background: #FFFFFF;
    box-shadow: 0 5px 12px 0 rgba(196,203,239,0.39);
    border-radius: 10px;
    height: calc(100vh - 260px);
    overflow: hidden;
    
  }
  .detection-history-choose{
    position: absolute;
    top: 25px;
    right 20px;
  }
  .x-select-box{
    float left;
  }
  .det-history-table{
    position relative;
    padding: 0 30px; 
    height 630px;
    overflow auto; 
  }
  .det-history-th{
    box-sizing: border-box
    float left;
    font-size: 12px;
    color: #999999;
    position relative;
    line-height: 40px;
    height 60px;
    padding 10px 10px;
    overflow hidden;
    text-overflow ellipsis;
    white-space nowrap;
  }
  .det-history-td{
    box-sizing: border-box
    float left;
    font-size: 12px;
    color: #333;
    position relative;
    line-height: 40px;
    height 60px;
    padding 10px 10px;
    overflow hidden;
    text-overflow ellipsis;
    white-space nowrap;
  }
  .det-history-avatar{
    width 40px
    height 40px;
    overflow hidden;
    border-radius: 100%
  }
  .det-history-avatar img{
    display block;
    width 40px
    height 40px;
    overflow hidden;
    border-radius: 100%
  }
  .detdetail-slider{
    box-sizing: border-box;
    position: fixed;
    top: 0
    right -600px;
    width 550px;
    height 100%;
    overflow: auto;
    background: #FFFFFF;
    box-shadow: -5px 0 9px 4px rgba(129,144,213,0.28);
    z-index 1000;
    transition: all 0.8s ease;
  }
  .detdetail-slider.on{
    right 0
  }
  .detdetail-slider-close{
    position: absolute;
    top: 30px;
    right 30px;
    width 28px;
    height 28px;
    background: url('assets/images/xym/close.png') no-repeat center center;
    background-size: 28px;
    cursor pointer;
    z-index 2
  }
  .detdetail-slider-title{
    position relative;
    border-bottom: 1px solid #E8EEF5;
  }
  .detdetail-slider-title-line{
    position: absolute;
    top: 37px;
    left 30px;
    width 7px;
    height 18px;
    background: #3572FF;
  }
  .detdetail-slider-title-h{
    line-height 90px;
    font-size: 24px;
    color: #3572FF;
    font-weight: bold;
    padding-left 64px;
  }
  .detdetail-info{
    padding: 0 30px 20px;
  }
  .detdetail-info-title{
    position relative;
    margin-top 26px;
  }
  .detdetail-info-title-p{
    font-size: 22px;
    color: #333333;
    padding-left 50px;
    line-height 30px;
    height 30px;
    font-weight: bold
  }
  .detdetail-info-title-icon{
    position: absolute;
    top: 0;
    left 0;
    height 30px;
    width 20px;
    background: url('assets/images/xym/ddetail-area.png') no-repeat center center;
    background-size: 20px;
  }
  .detdetail-info-data{
    margin-top: 40px;
  }
  .detdetail-info-data-box{
    float left;
    width 50%;
  }
  .detdetail-info-data-box-h{
    font-size: 14px;
    color: #999999;
  }
  .detdetail-info-data-box-p{
    font-size: 14px;
    color: #3572FF;
    margin-top 3px;
  }
  .detdetail-info-data-box-p span{
    display inline-block
    font-size: 34px;
    margin-right: 3px;
    font-weight: bold;
  }
  .detdetail-block{
    height 16px;
    background: #F3F6FF;
  }
  .detdetail-warn{
    padding: 0 30px;
    margin-top 12px;
  }
  .detdetail-warn-title{
    font-size: 22px;
    color: #333333;
  }
  .detdetail-warn-container{
    height: calc(100vh - 410px);
    min-height: 230px;
    overflow: auto;
    margin-top 10px;
  }
  
  .det-history-tr.warn .det-history-td{
    color: #F56B25;
  }
  

  .det-deal-left{
    float left;
    width 120px;
  }
  .det-deal-avator{
    width 90px;
    height 90px;
    margin: 50px auto 0;
    overflow hidden;
    border-radius: 100%
  }
  .det-deal-avator img{
    display block;
    width 90px;
    height 90px;
    overflow hidden;
    border-radius: 100%
  }
  .det-deal-temper{
    margin-top 70px;
    text-align: center;
  }
  .det-deal-temper-h{
    font-size: 12px;
    color: #999999;
  }
  .det-deal-temper-p{
    font-size: 18px;
    color: #F56B25;
  }
  .det-deal-temper-p span{
    font-size: 30px;
    display inline-block
    margin-right: 3px;
    font-weight: bold;
  }
  .det-deal-mid{
    float left
    width 170px;
    margin-left 48px;
  }
  .det-deal-mid-box-h{
    font-size: 12px;
    color: #999999;
    margin-top 16px;
  }
  .det-deal-mid-box-p{
    font-size: 14px;
    color: #000000;
    margin-top 16px;
  }
  .det-deal-right{
    float right;
    width 370px;
  }
  .ddeal-radio{
    margin-top: 16px;
    height 21px;
  }
  .ddeal-desc{
    margin-top: 16px;
  }
  .ddeal-desc-textarea{
    display block;
    width 100%;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    line-height 22px;
    border: 1px solid #D8DDDF;
    border-radius: 2px;
    height 160px;
  }

  .diab-content{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0 0 8px 0 rgba(196,203,239,0.39);
  }
  .xtitle-date-picker{
    position: absolute;
    top: 20px;
    left 110px;
  }
  .detection-query-no-data{
    position: absolute;
    top: 50%;
    left 50%;
    width 160px;
    height 172px;
    margin-left -80px;
    margin-top: -100px;
    background: url('assets/images/xym/query-no-data.png') no-repeat center center;
    background-size: 160px;
  }
  .x-no-data{
    background: url('assets/images/xym/no-data.png') no-repeat top center; 
    width 160px;
    margin: 0 auto;
    background-size: 160px;
    padding-top 140px;
    text-align: center;
    color: #999;
  }
  


}







